.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  
    background-color: #1a1a1a;
    color: #ffa500;
    padding: 40px 60px;
    border-radius: 10px;
    font-size: 16px;
    justify-content: center; 
    gap: 30%;;
    margin-top: 60px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
  
  .footer-content,
  .footer-contact {
    flex: 1 1 300px; /* responsive co giãn */
    max-width: 500px;
    text-align: justify;
    line-height: 1.6;
    font-size: 15px;
  }
  