@import url('header.css');
@import url('footer.css');
@import url('menu.css');
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background-color: #f4f4f4;
   
}
.wrapper {
    
}
.container {
    background-color: white;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.one-month, .three-month, .six-month {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    position: relative;
    flex-wrap: wrap;
}

.one-month:after, .three-month:after, .six-month:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.one-month:last-child:after, .three-month:last-child:after, .six-month:last-child:after {
    display: none;
}

.one-month h2, .three-month h2, .six-month h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.one-month h2:before, .three-month h2:before, .six-month h2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
}

.g1, .g2, .g3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #444;
}
  
ul {
    text-align: left;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
}

.g1:hover,.g2:hover ,.g3:hover{
    transform: scale(1.15);
    transition: transform 0.6s ease, box-shadow 0.6s ease;

    box-shadow: 0 12px 24px rgba(0,0,0,0.2); /* Đổ bóng rõ hơn */
}

.price{
    font-size: 30px;
    margin-bottom: 10px;
}


.c2{
    background: linear-gradient(270deg, #c0c0c0, #9498a6, #8b8e98, #c0c0c0);
    animation: shimmer 4s linear infinite, sparkle 1.5s ease-in-out infinite;
}
.c1{
    background: linear-gradient(270deg, #fff4a3, #f3c44d, #d4af37, #fff4a3);
    animation: shimmer 4s linear infinite, sparkle 1.5s ease-in-out infinite;
    
}
.c3{
    background: linear-gradient(270deg,#bfe1ea, #98d1e0,#71b2c8, #c5deed);
        animation: shimmer 4s linear infinite, sparkle 1.5s ease-in-out infinite;
}
