@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('menu.css');
@import url('index.css');
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background-color: #f4f4f4;
}