<div class="footer">
    <div class="footer-content">
        <p>THE BOX POWER GYM</p> 
        <p>Chào mừng bạn đến với The Box Power Gym, nơi giúp bạn đạt được vóc dáng mong muốn và nâng cao thể lực với hệ thống thiết bị hiện đại, huấn luyện viên chuyên nghiệp và môi trường tập luyện năng động. Hãy tham gia ngay hôm nay để trải nghiệm dịch vụ tốt nhất và chinh phục giới hạn của chính mình! </p>

    </div>
    <div class="footer-contact">
        
        <p><i class="fa-solid fa-location-dot"></i> Địa chỉ: 43 Nguyễn Lương Bằng, Hòa Khánh Bắc, Liên Chiểu, Đà Nẵng</p>
        <p><i class="fa-solid fa-phone"></i> Điện thoại: 0978684764</p>
        <p><i class="fa-solid fa-envelope"></i> Email: TheBoxPowerGym@gmail.com </p>
        <p>&copy; 2025 The Box Power Gym </p>
    </div>
</div>
</div>