<div class="header">
    <p>THE BOX POWER GYM - THAY ĐỔI SỨC KHỎE CỦA CHÍNH BẠN</p>
    <div class="header-content">
        <div class="contact-info">
            <span class="item">
                <i class="fas fa-phone-alt phone-icon"></i> 0978 68 4764
            </span>
            <span class="item">
                <i class="fas fa-map-marker-alt map-icon"></i> 43 Nguyễn Lương Bằng, Hòa Khánh Bắc, Liên Chiểu, Đà Nẵng
            </span>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank" class="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.tiktok.com/" target="_blank" class="tiktok">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>
