<div class="menu">
    <nav class="menu-box">
        <div class="menu-left">
            <img src="./assets/img/logo.png" alt="Logo" class="menu-image">
        </div>
        <ul class="menu-items">
            <li class="item-menu active"><a href="index.html">TRANG CHỦ</a></li>
            <li class="item-menu"><a href="page/goidangki.html">GÓI DỊCH VỤ</a></li>
            <li class="item-menu"><a href="page/khachhang.html">KHÁCH HÀNG</a></li>
            <li class="item-menu"><a href="page/thietbi.html">THIẾT BỊ</a></li>
            <li class="item-menu"><a href="page/sanpham.html">SẢN PHẨM</a></li>
            <li class="item-menu"><a href="page/thongke.html">THỐNG KÊ</a></li>
        </ul>
        <div class="menu-right">
            <button class="login-btn">ĐĂNG NHẬP</button>
        </div>
    </nav>
</div>
