.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #272525; 
    color: #FFFFFF;
    font-size: 20px;
    padding: 40px 30px;
    gap: 120px;
    text-align: left;
    width: 100%;
    font-family: Arial, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

.footer-content, .footer-contact {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.footer .footer-content h3, .footer .footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer .footer-content p, .footer .footer-contact p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.3s ease;
}

.footer .footer-contact a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.footer .footer-contact a:hover {
    color: #FFDD00;
}

.footer .footer-contact i.fa-phone {
    color: #28a745;
    font-size: 20px;
}

.footer .footer-contact i.fa-location-dot {
    color: #3080d0;
    font-size: 20px;
}

.footer .footer-contact i.fa-envelope {
    color: #FFD700;
    font-size: 20px;
}
.footer .footer-contact i {
    margin-right: 10px;
}