.footer {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #0e0d0dcb;
    gap: 50px;
    text-align: center;
    color: orange;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}
.footer-content, .footer-contact {
    max-width: 600px;
    text-align: justify;
    font-size: 15px;   
}