
.menu-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
}
.menu-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-left .menu-image {
    max-width: 100%;
    height: auto;
}
.menu-image {
    width: 200px;
    height: auto;
    object-fit: contain;
}
.menu-items {
    display: flex;
    justify-content: space-evenly; 
    flex: 2; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-items li {
    display: inline;
}
.menu-items li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.menu-items li a:hover {
    color: #DA2128;
}
.menu-right {
    flex: 0.5; 
}

.login-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #e71300; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #f46767;
}
