USE [master]
GO
/****** Object:  Database [PBL3]    Script Date: 4/8/2025 11:31:17 PM ******/
CREATE DATABASE [PBL3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER12\MSSQL\DATA\PBL3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER12\MSSQL\DATA\PBL3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL3]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[idACCOUNT] [int] NOT NULL,
	[usernameACCOUNT] [nvarchar](100) NOT NULL,
	[passwordACCOUNT] [nvarchar](255) NOT NULL,
	[roleACCOUNT] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usernameACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[idDANGKY] [int] NOT NULL,
	[idGOI] [int] NOT NULL,
	[idKHACHHANG] [int] NOT NULL,
	[dayDANGKY] [date] NOT NULL,
	[statusGOI] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDANGKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHTHU]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHU](
	[idDOANHTHU] [int] NOT NULL,
	[timeDOANHTHU] [date] NOT NULL,
	[CHIPHI] [decimal](10, 2) NOT NULL,
	[DOANHTHU] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDOANHTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOIDICHVU]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOIDICHVU](
	[idGOI] [int] NOT NULL,
	[nameGOI] [nvarchar](40) NOT NULL,
	[priceGOI] [int] NOT NULL,
	[aboutGOI] [nvarchar](255) NOT NULL,
	[timeGOI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idGOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[idHOADON] [int] NOT NULL,
	[idNHANVIEN] [int] NOT NULL,
	[timeHOADON] [datetime] NOT NULL,
	[statusHOADON] [tinyint] NOT NULL,
	[idDANGKY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_idDANGKY] UNIQUE NONCLUSTERED 
(
	[idDANGKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONCHITIET]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONCHITIET](
	[idCHITIET] [int] NOT NULL,
	[idHOADON] [int] NOT NULL,
	[idSANPHAM] [int] NOT NULL,
	[idDANGKY] [int] NOT NULL,
	[soluongCHITIET] [int] NOT NULL,
	[priceCHITIET] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCHITIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[idKHACHHANG] [int] NOT NULL,
	[nameKHACHHANG] [nvarchar](40) NOT NULL,
	[bdKHACHHANG] [date] NOT NULL,
	[sdtKHACHHANG] [varchar](12) NOT NULL,
	[cccdKHACHHANG] [char](12) NOT NULL,
	[emailKHACHHANG] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cccdKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sdtKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[emailKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[idNHANVIEN] [int] NOT NULL,
	[nameNHANVIEN] [nvarchar](40) NOT NULL,
	[ageNHANVIEN] [date] NOT NULL,
	[sdtNHANVIEN] [varchar](12) NOT NULL,
	[cccdNHANVIEN] [char](12) NOT NULL,
	[emailNHANVIEN] [nvarchar](40) NOT NULL,
	[vitriNHANVIEN] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cccdNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sdtNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[emailNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAISANPHAM]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAISANPHAM](
	[idDANHMUC] [int] NOT NULL,
	[nameDANHMUC] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[idSANPHAM] [int] NOT NULL,
	[idDANHMUC] [int] NOT NULL,
	[nameSANPHAM] [nvarchar](100) NOT NULL,
	[donviSANPHAM] [nvarchar](50) NOT NULL,
	[priceSANPHAM] [decimal](10, 2) NOT NULL,
	[aboutSANPHAM] [nvarchar](255) NOT NULL,
	[soluongSANPHAM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 4/8/2025 11:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[idTHIETBI] [int] NOT NULL,
	[nameTHIETBI] [nvarchar](100) NOT NULL,
	[aboutTHIETBI] [nvarchar](255) NOT NULL,
	[importTHIETBI] [date] NOT NULL,
	[priceTHIETBI] [decimal](10, 2) NOT NULL,
	[statusTHIETBI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTHIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [statusHOADON]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD FOREIGN KEY([idGOI])
REFERENCES [dbo].[GOIDICHVU] ([idGOI])
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_KHACHHANG] FOREIGN KEY([idKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([idKHACHHANG])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([idNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([idNHANVIEN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_idDANGKY] FOREIGN KEY([idDANGKY])
REFERENCES [dbo].[DANGKY] ([idDANGKY])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_idDANGKY]
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD FOREIGN KEY([idHOADON])
REFERENCES [dbo].[HOADON] ([idHOADON])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD FOREIGN KEY([idSANPHAM])
REFERENCES [dbo].[SANPHAM] ([idSANPHAM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([idDANHMUC])
REFERENCES [dbo].[PHANLOAISANPHAM] ([idDANHMUC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD CHECK  (([roleACCOUNT]=(1) OR [roleACCOUNT]=(0)))
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD CHECK  (([statusGOI]=(1) OR [statusGOI]=(0)))
GO
ALTER TABLE [dbo].[DOANHTHU]  WITH CHECK ADD CHECK  (([CHIPHI]>=(0)))
GO
ALTER TABLE [dbo].[DOANHTHU]  WITH CHECK ADD CHECK  (([DOANHTHU]>=(0)))
GO
ALTER TABLE [dbo].[GOIDICHVU]  WITH CHECK ADD CHECK  (([priceGOI]>(0)))
GO
ALTER TABLE [dbo].[GOIDICHVU]  WITH CHECK ADD CHECK  (([timeGOI]>(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([statusHOADON]=(2) OR [statusHOADON]=(1) OR [statusHOADON]=(0)))
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD CHECK  (([priceCHITIET]>(0)))
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD CHECK  (([soluongCHITIET]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([priceSANPHAM]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([soluongSANPHAM]>=(0)))
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD CHECK  (([priceTHIETBI]>(0)))
GO
USE [master]
GO
